* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  /* justify-content: space-between; */
  padding: 0px 90px;
  padding-top: 110px;
  gap: 60px;
  /* background-color: red; */
}

/* LEFT */
#left {
  height: 100%;
  width: 45%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 45px;
}
#left h1 {
  font-size: 7.6vw;
  font-weight: 500;
  line-height: 7vw;
  padding-top: 30px;
}
#bottom-left {
  /* height: 40%; */
  width: 100%;
  /* background-color: yellow; */
}
#color {
  /* background-color: green; */
  width: fit-content;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid black;
}
#color h5 {
  font-size: 16px;
  margin-right: 10px;
  font-weight: 500;
}
#color1 {
  height: 20px;
  width: 20px;
  background-color: burlywood;
  border-radius: 50%;
  margin-right: 7px;
}
#color2 {
  height: 20px;
  width: 20px;
  background-color: brown;
  border-radius: 50%;
}
#left h2 {
  margin-top: 30px;
  font-size: 1.8vw;
  margin-bottom: 10px;
}
#left p {
  font-size: 1vw;
  width: 65%;
  font-weight: 600;
  color: #444;
  line-height: 1.5vw;
}

/* RIGHT */

#right {
  height: 88%;
  width: 40%;
  /* background-color: blue; */
  position: relative;
}
#right-top {
  width: 100%;
  height: 50px;
  /* background-color: orange; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
#right-top h4 {
  font-weight: 600;
  font-size: 20px;
}
#right-top h5 {
  font-weight: 600;
  font-size: 14px;
}
#right-top i {
  color: gold;
}
#right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#black-ele {
  position: absolute;
  top: 40%;
  right: -10%;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#black-ele h5 {
  font-weight: 500;
}
#right-left-rotated {
  position: absolute;
  top: 70%;
  rotate: -90deg;
  left: -25%;
}
#right-left-rotated h2 {
  font-weight: 600;
}

@media (max-width: 600px) {
  #main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    padding: 40px;
    padding-top: 50px;
    gap: 60px;
    /* background-color: red; */
  }

  /* LEFT */
  #left {
    height: fit-content;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  #left h1 {
    font-size: 18vw;
    line-height: 18vw;
    margin-bottom: 40px;
  }
  #bottom-left {
    /* height: 40%; */
    width: 100%;
    /* background-color: yellow; */
    padding-top: 22px;
  }
  #color {
    /* background-color: green; */
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
  }
  #color h5 {
    font-size: 13px;
    margin-right: 10px;
    font-weight: 600;
  }
  #color1 {
    height: 14px;
    width: 14px;
    background-color: burlywood;
    border-radius: 50%;
    margin-right: 7px;
  }
  #color2 {
    height: 14px;
    width: 14px;
    background-color: brown;
    border-radius: 50%;
  }
  #left h2 {
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 10px;
  }
  #left p {
    font-size: 15px;
    width: 100%;
    font-weight: 600;
    color: #444;
    line-height: 23px;
  }

  /* RIGHT */

  #right {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-direction: column-reverse;

  }
  #right-top {
    width: 100%;
    height: 50px;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 20px; */
  }
  #right-top h4 {
    font-weight: 600;
    font-size: 20px;
  }
  #right-top h5 {
    font-weight: 600;
    font-size: 14px;
  }
  #right-top i {
    color: gold;
  }
  #right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #black-ele {
    position: absolute;
    top: 40%;
    right: -10%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #black-ele h5 {
    font-weight: 500;
  }
  #right-left-rotated {
    position: absolute;
    top: -8%;
    left: 0;
    rotate: 0deg;
  }
  #right-left-rotated h2 {
    font-weight: 600;
  }
}
