*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins',sans-serif;
}

.clock-container{
    text-align: center;
    background-color: black;
    border-radius: 4px;
    color: white;
    box-shadow: 5px 5px 1px  rgb(255, 102, 0);
}

.clock{
    font-size: 3rem;
    letter-spacing: 2px;
}